.fallback-message {
  display: none;
}

.impress-not-supported .fallback-message {
  display: block;
}

.step {
  width: 1000px;
  font-size: 48px;
  line-height: 1.5;
}

.step:not(.active) {
  display: none;
}

.step p.title {
  margin-top: 0;
}

.center {
  text-align: center;
}

.center table {
  margin: 0 auto;
}

.center ul {
  margin: 0 auto;
  width: 650px;
}

.center ul li {
  text-align: left;
}

table th {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 5px 50px;
}

table td {
  text-align: left;
  padding: 5px 50px;
}

table tr.alt td {
  background-color: #ccc;
}

table.data {
  font-size: 0.8em;
  margin-bottom: 20px;
}

table.data th,
table.data td {
  padding: 0 5px;
  white-space: pre;
  border: 2px solid black;
}

table.csv {
  font-size: 0.8em;
  margin-bottom: 20px;
}

table.csv th,
table.csv td {
  padding: 0 5px;
  white-space: pre;
  border: 2px solid black;
}

table.csv td {
  white-space: pre;
  font-family: monospace;
  text-align: left;
}

a, a:visited {
  text-decoration: none;
  color: navy;
}

pre {
  text-align: left;
  font-size: 0.8em;
  border: 1px solid black;
}

div.caption {
  font-size: 0.4em;
  font-style: italic;
}
